{% extends "UekDemoBundle::bars.html.twig" %}

{% block main %}
	{% for item in ilosc %}
		<span class="badge">{{item.ilosc}}</span>
	{% endfor %}	
{% endblock %}

{% block header %}
	<h3>Twój Koszyk</h3>
{% endblock %}

{% block content %}
	<div class="panel-body">
		{% if koszyk|length == 0 %}
			<div class="alert alert-info" role="alert">Nie ma filmów w koszyku</div>
		{% else %}
			<table class="table table-hover">
				<thead>  
					<tr>  
						<th>Tytuł filmu</th>   
						<th>Opłata</th>
						<th></th>
					</tr>  
				</thead>  
				<tbody>
					{% for item in koszyk %}
						<tr>	 
							<td><a href="{{path('uek_demo_filmy_see', {'id': item.idfilmu})}}">{{ item.tytulfilmu|upper }}</a></td> 
							<td>{{ item.oplata }}</td>
							<td><a href="{{path('uek_demo_koszyk_delete', {'idfilmu': item.idfilmu})}}" class="btn btn-default btn-log"><span> Usuń</span></a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<a href="{{path('uek_demo_filmy_index')}}" class="btn btn-default moja-klasa"><span>Powrót do wypożyczalni</span></a>
			<a href="{{path('uek_demo_koszyk_clean')}}" class="btn btn-default moja-klasa"><span>Opróżnij koszyk</span></a>
			<div class="pull-right"><a href="{{path('uek_demo_wypozyczenia_create')}}" class="btn btn-primary moja-klasa"><span>Wypożycz</span></a></div>
		{% endif %}
	</div>
{% endblock %}