{% extends "UekDemoBundle::bars.html.twig" %}

{% block header %}
	<h1>Film - {{ film.tytulfilmu }} </h1>
{% endblock %}
{% block content %}
	<div class="panel-body">
			<dl class="dl-horizontal">
				<dt>Opis</dt>
				<dd>{{ film.opis }}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Cena filmu</dt>
				<dd>{{ film.oplata }}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Aktorzy:</dt>
			</dl>
		{% for item in aktor %}
			<dl class="dl-horizontal">
				<dd>{{ item.imieaktora }} {{ item.nazwiskoaktora }}</dd>
			</dl>
		{% endfor %}
						
			<div class="col-xs-12 col-md-6">
				<a href="{{path('uek_demo_filmy_see', {'id': film.idFilmu})}}">
					<img src="{{asset('bundles/uekdemo/images/' ~ film.tytulfilmu ~ '.jpg')}}" alt="filmy" class="img-thumbnail">
				</a>
			</div>
	</div>
{% endblock %}