{% extends "UekDemoBundle::bars.html.twig" %}

{% block main %}
	{% for item in ilosc %}
		<span class="badge">{{item.ilosc}}</span>
	{% endfor %}	
{% endblock %}

{% block header %}
	<div class="row">
		<div class="col-md-8">
			<h3>Film - {{ film.tytulfilmu }} </h3>
		</div>
		
		{% if recenzja == 'dodano' %}
			<div class="col-md-4">
				<div class="alert alert-success" role="alert">Dodano recenzję</div>
			</div>
		{% else %}
			<div class="col-md-4">
				<div class="alert alert-success" role="alert">Dodano do koszyka</div>
			</div>
		{% endif %}
		
	</div>
{% endblock %}
{% block content %}
	<div class="panel-body">
			<dl class="dl-horizontal">
				<dt>Opis</dt>
				<dd>{{ film.opis }}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Cena filmu</dt>
				<dd>{{ film.oplata }}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Aktorzy:</dt>
			</dl>
		{% for item in aktor %}
			<dl class="dl-horizontal">
				<dd>{{ item.imieaktora }} {{ item.nazwiskoaktora }}</dd>
			</dl>
		{% endfor %}
						
			<div class="col-xs-12 col-md-6">
				<a href="{{path('uek_demo_filmy_see', {'id': film.idFilmu})}}">
					<img src="{{asset('bundles/uekdemo/images/' ~ film.tytulfilmu ~ '.jpg')}}" alt="filmy" class="img-thumbnail">
				</a>
			</div>
			
			<a href="{{path('uek_demo_koszyk_add', {'idfilmu': film.idFilmu})}}" class="btn btn-primary moja-klasa"><span>Dodaj film do koszyka</span></a>
			<a href="{{path('uek_demo_recenzja_add', {'idfilmu': film.idFilmu})}}" class="btn btn-primary moja-klasa"><span>Dodaj recenzję</span></a>
	</div>
{% endblock %}