{% extends "UekDemoBundle::bars.html.twig" %}

{% block main %}
	{% for item in ilosc %}
		<span class="badge">{{item.ilosc}}</span>
	{% endfor %}	
{% endblock %}

{% block header %}
	<h3>Lista filmów</h3>
{% endblock %}

{% block content %}
	<div class="panel-body">
		{% if filmy|length == 0 %}
			<div class="alert alert-info" role="alert">Nie ma filmów w tym gatunku</div>
			{% else %}
			<table class="table table-hover">
				<thead>  
					<tr>  
						<th>Tytuł filmu</th>  
						<th>Opis</th> 
						<th>Opłata</th> 
					</tr>  
				</thead>  
			<tbody>
			{% for item in filmy %}
				<tr>	 
					<td><a href="{{path('uek_demo_filmy_see', {'id': item.idfilmu})}}">{{ item.tytulfilmu|upper }}</a></td> 
					<td>{{ item.opis }}</td> 
					<td>{{ item.oplata }}</td>
				</tr>	 
			{% endfor %}
			</tbody>
			</table>
		{% endif %}
	</div>
{% endblock %}