<!DOCTYPE HTML>

<html>
	<head>
		<title>FILMY</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/uekdemo/css/bootstrap.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/uekdemo/css/main.css') }}">
	</head>
	<body>
		<div class="container">
			<header class="row">
				<div class="page-header text-uppercase">
					{% block header %}
					{% endblock %}
				</div>
			</header>
			 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<div class="row">
					<p>
						Jesteś zalogowany jako {{app.user.username}}. 
						<a href="{{path('fos_user_security_logout')}}" class="btn btn-primary">Wyloguj</a>
					</p>
				</div>
			{% else %}
				<p>
					Nie jesteś zalogowany - 
					<a href="{{path('fos_user_security_login')}}" class="btn btn-primary">Zaloguj</a><br><br>
					Jeżli nie masz konta - <a href="{{path('fos_user_registration_register')}}" class="btn btn-primary">Zarejestruj się</a><br>
				</p>
			{% endif %}
			<div class="row">
				<div class="col-md-4">
					{% block menu %}
					{% endblock %}
				</div>
				<div class="col-md-8">
					{% block content %}
						{% block fos_user_content %}
						{% endblock %}
					{% endblock %}
				</div>
			</div>
			<footer class="row">
				<p>(c) Copyright Sobocińska Agnieszka</p>
			</footer>
		</div>
	</body>
</html>