{% extends "UekDemoBundle::bars.html.twig" %}

{% block main %}
	{% for item in ilosc %}
		<span class="badge">{{item.ilosc}}</span>
	{% endfor %}	
{% endblock %}

{% block header %}
	<h3>Najczęściej Recenzowane Filmy</h3>
{% endblock %}

{% block content %}
	<div class="panel-body">
		{% if recenzjaNajwiecej|length == 0 %}
			<div class="alert alert-info" role="alert">Nikt jeszcze nie dodał recenzji do filmów</div>
		{% else %}
			<table class="table table-hover">
				<thead>  
					<tr>  
						<th>IdFilmu</th> 
						<th>Tytuł</th>
						<th>Ilość recenzji</th>
					</tr>  
				</thead>  
				<tbody>
					{% for item in recenzjaNajwiecej %}
						<tr>	 
							 <td>{{ item.idfilmu }}</td> 
							 <td><a href="{{path('uek_demo_filmy_see', {'id': item.idfilmu})}}">{{ item.tytulfilmu|upper }}</a></td>
							 <td>{{ item.ilosc }}</td> 
						</tr>	 
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>

{% endblock %}
